name: CI

on:
    pull_request:
        branches:
            - master

jobs:
    run_test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Compile
              run: cargo build
            - name: Test
              run: cargo test